# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Data & Models (tracked by DVC)
data/raw/
data/processed/
models/model.pth
mlruns/

# MLflow
mlflow.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
venv/
.venv/